@import "../fonts/iconfont.scss";

* {
    margin: 0;
    padding: 0;
}

html, body, #app {
    position: relative;
    width: 100%;
    height: 100%;
}

img {
    -webkit-user-drag: none!important;
}

// region 菜单上的图标
@mixin menu-label-base($content: "", $bg: #000000, $color: #ffffff) {
    position: relative;
    width: 24px;
    height: 24px;
    display: inline-block;
    &::before {
        content: $content;
        position: absolute;
        z-index: -1;
        width: 24px;
        height: 24px;
        border-radius: 12px;
        background-color: $bg;
        color: $color;
        font-size: 14px;
        font-weight: bold;
        display: inline-flex;
        align-items: center;
        justify-content: center;
    }
}

.label-public { @extend .iconfont, .icon-unlock; color: #79bd12; }
.label-private { @extend .iconfont, .icon-lock; color: #aaaaaa; }

.label-class { @include menu-label-base("c", #2791ff); }
.label-field { @include menu-label-base("f", #f56c6c); }
.label-member { @include menu-label-base("m", plum); }
.label-method { @include menu-label-base("m"); }
.label-parameter { @include menu-label-base('p')}
// endregion